html{
    overflow-x: hidden;     ;
}

body{
    background-color: #6A36A2;
    margin: 0;
    color: white;
}

.header{
    background-color: black;
    display: inline-flex;
    width: 100%;
    height: 100px;
    padding: 10px 10px 0px 10px;
}

.logo{
    display: inline-flex;
}

.logo img{
    height: 80px;
    position: relative;
}

.menu{
    display: inline-flex;
    margin-left: 390px;
}

.menu select{
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}

.menu h3{
    position: relative;
    top: 15px;
}

.menu button{
    background-color: #77BBFA;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 40px;
    margin-left: 15px;
    position: relative;
    top: 15px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.links{
    margin-left: 30px;
    padding-top: 15px;
}

.links img{
    width: 50px;
    margin-left: 10px;
}

.content{
    margin: 0;
}

.content h1{
    text-align: center;
    background-color: #4F1E89;
    width: 100%;
    height: 100px;
    font-size: 50px;
    margin:0;
}

.content-data{
    margin: 40px 100px ;
    display: flex;
}

.content-data div{
    width: 50%;
}


.content-photo{
    width: 500px;
    height: 350px;
    margin-left: 100px;
}

.content-data div h2{
    margin: 0;
    font-size: 30px;
    font-weight: bolder;
}

.content-data div h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.content-data div ul{
    padding-left: 20px;
}  

.content-data div li{
    margin-bottom: 5px;
} 

.social-media img{
    width: 50px;
}

.price{
    text-align: center;
}

.price h2{
    font-size:35px;
    margin: 0;
}

.price h3{
    margin: 0;
    color: rgb(175, 171, 171);
    margin-bottom: 20px;
}

.price table{
    margin-left: 300px;
    border: solid white;
}

table tr th{
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 5px 10px;
}

table tr td{
    width: 220px;
    height: 30px;
    /* border: solid; */
    background-color: white;
    color: black;
    padding: 5px 10px;
}

td button{
    width: 150px;
    height: 30px;
}

.footer{
    text-align: center;
    background-color: #4F1E89;
    width: 100%;
    height: 120px;
    font-size: 40px;
    margin:0;
}